/*Selector {
	Property: value;
}*/
*{
	text-align: right;
}
body{
	background-image: url(djleo1.jpg); size: 150ex;
	background-position: center;
}
h1{
	color: #AA4139;
	/*text-align: center;*/
	border: 5px solid rgba(255,176,170,0.3);
	cursor: pointer;
}
p{
	line-height: 50px;
	font-style:	italic;
	font-size: 150%;
	font-family: 'Felipa', cursive;
	font-family: 'Gloria Hallelujah', cursive;
}
li{
	list-style: none;
	display: inline-block;
}
.webtext:first-child{
	border: 5px dashed green;
}
.active{
	color: red;
}
#div1{
	background: rgba(0,0,255,0.2);
}
#div2{
	background: rgba(0,255,255,0.2);
}